POSTGRES_DB=kyc_db
POSTGRES_USER=kyc_user
POSTGRES_PASSWORD=kyc_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY='django-insecure-3@ec#k3_w$kj&#12bi9700^cofj-ytf%52@1nsizl+0z6^2z&g'
DEBUG=True